<h1>Pirates</h1>

<div class="pirate">
    <h2> <%= @pirate.name %></h2>
    <h3> <%= @pirate.height %></h3>
    <h4> <%= @pirate.weight %></h4>


<h2>These are my Pirate Killing Ships</h2>
<% @ships.each do |ship|%>
    <p> <%= ship.name %> <p>
    <p> <%= ship.type %> <p>
    <p> <%= ship.booty %> <p>
    <% end%>


<h2>Display your second ship here</h2>
