<h1>Display your Pirate here <%=@pirate_name%> <%=@pirate_weight%> <%=@pirate_height%></h1>


<h2>Display your first ship here <%=@first_ship%> <%=@first_ship_type%> <%=@first_ship_booty%></h2>


<h2>Display your second ship here  <%= @second_ship%> <%=@second_ship_type%> <%=@second_ship_booty %></h2>
